.main {
    min-height: 90vh;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
    border-color: 1px solid black;
}

h5 {
    color: blue;
    font-size: 24px;
}

h4 {
    font-size: 38px;
}

h6 {
    font-size: 20px;
    font-weight: bold;
}

button {
    border-radius: 4px;
}

[nz-carousel-content] {
    text-align: center;
    height: 300px;
    width: 400px;
    background: #ccc;
    color: #fff;
    overflow: hidden;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}

img {
    height: 300px;
    width: 100%;
    object-fit: fill;
}

/* [nz-carousel] {
    width: 100%;
}
[nz-carousel] img{
    width: 100%;
} */

