.body {
  background-color: #f1f5f8;
  min-height: 90vh;
  overflow: hidden;
}

.main {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  border-color: 1px solid black;
}

.example-form-field {
  border: none;
}

.example-form-field .mat-form-field-label {
  position: absolute;
  top: -12px;
  font-size: 12px;
  color: #999;
  transition: all 0.2s ease-in-out;
}

.example-form-field.focused .mat-form-field-label {
  top: -24px;
  font-size: 10px;
  color: #666;
}

.mat-slider-horizontal {
  width: 200px;
}

/* css */
.laptop-title {
  font-size: 20px;
  font-weight: 500;
}
button {
  border-radius: 4px;
}

.card {
  height: 400px;
  width: 250px;
  margin: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
nz-card{
  width: 240px;
}

.card .image-card img {
  object-fit: fill;
  height: 200px;
  width: 240px;
}

.image-card {
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.products {
  margin: 0px 30px 0px 30px;
  justify-content: center;
  align-items: center;
}

.card-icon h6 {
  color: #003E7D;
}

.product-image:hover{
  filter: brightness(80%);
}

.product-card{
  transition: transform 0.2s ease;
  padding: 12px;
}
.product-card:hover{
  transform: scale(1.01);
}

.hr-line{
  height: 3px;
  width:80%;
  background-color: black;
}
.hr{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  justify-content:flex-start;
  align-items:center;
}
.total-products{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main{
      margin: 16px;
  }
  .products{
      margin:12px;
  }
  nz-card{
      width: 100%;
      margin-top: 16px;
  }
  .hr-line{
      width:100px;
      height:3px;
  }
  .product-card{
    padding: 0px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .main{
      margin: 30px;
  }
  .products{
      margin: 12px;
      justify-content: center;
      align-items: center;
  }
}
